@reference "tailwindcss";

.badge {
  @apply inline-flex items-center py-0.5 pl-2 rounded text-xs font-medium;

  .remove {
    @apply flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center focus:outline-none;

    svg {
      @apply h-6 w-6;
    }
  }

  &.badge-theme-indigo {
    @apply bg-indigo-100 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-300;

    .remove {
      @apply text-indigo-400 hover:bg-indigo-200 hover:text-indigo-500 focus:bg-indigo-500 focus:text-white;

      svg {
        @apply text-indigo-500;
      }
    }
  }

  &.badge-theme-pink {
    @apply bg-pink-100 dark:bg-pink-900 text-pink-700 dark:text-pink-300;

    .remove {
      @apply text-pink-400 hover:bg-pink-200 hover:text-pink-500 focus:bg-pink-500 focus:text-white;

      svg {
        @apply text-pink-500;
      }
    }
  }

  &.badge-theme-green {
    @apply bg-lime-400/20 dark:bg-lime-400/10 text-lime-700 dark:text-lime-300;

    .remove {
      @apply text-lime-400 hover:bg-lime-200 hover:text-lime-500 focus:bg-lime-500 focus:text-white;

      svg {
        @apply text-lime-500;
      }
    }
  }

  &.badge-theme-gray {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300;

    .remove {
      @apply text-gray-400 hover:bg-gray-200 hover:text-gray-500 focus:bg-gray-500 focus:text-white;

      svg {
        @apply text-gray-500;
      }
    }
  }

  &.badge-theme-blue {
    @apply bg-blue-50 dark:bg-blue-900 text-blue-700 dark:text-blue-300;

    .remove {
      @apply text-blue-300 hover:bg-blue-100 hover:text-blue-400 focus:bg-blue-400 focus:text-white;

      svg {
        @apply text-blue-400;
      }
    }
  }

  &.badge-theme-yellow {
    @apply bg-yellow-100 dark:bg-yellow-900 text-yellow-700 dark:text-yellow-300;

    .remove {
      @apply text-yellow-300 hover:bg-yellow-100 hover:text-yellow-400 focus:bg-yellow-400 focus:text-white;

      svg {
        @apply text-yellow-400;
      }
    }
  }
}
