@import 'tailwindcss';

/* in new tailwind config file is included in css ¯\_(ツ)_/¯ */
@config '../tailwind.config.js';

@reference 'tailwindcss';

@import './css/alerts.css';
@import './css/badges.css';
@import './css/buttons.css';
@import './css/fonts.css';
/* @import './global.css';
@import './components/forms.css';
@import './components/menu.css';
@import './components/notifications.css';
@import './components/tables.css';
@import './components/tabs.css'; */

@import 'leaflet/dist/leaflet.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --sidebar-width: 16rem;

  --color-dashboard-1: var(--dashboard-1);
  --color-dashboard-2: var(--dashboard-2);
  --color-dashboard-3: var(--dashboard-3);
  --color-dashboard-4: var(--dashboard-4);
  --color-dashboard-5: var(--dashboard-5);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {

  body,
  html {
    --font-sans:
      'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

:root {
  --background: hsl(220 20% 99%);
  --foreground: hsl(220 20% 10%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(220 15% 10%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(220 15% 10%);

  --primary: hsl(220 60% 40%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(220 20% 94%);
  --secondary-foreground: hsl(220 15% 20%);

  --muted: hsl(220 15% 95%);
  --muted-foreground: hsl(220 10% 50%);

  --accent: hsl(220 25% 96%);
  --accent-foreground: hsl(220 20% 20%);

  --destructive: hsl(0 70% 55%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(220 14% 90%);
  --input: hsl(220 20% 80%);
  --ring: hsl(220 10% 20%);

  --chart-1: hsl(220 75% 55%);
  --chart-2: hsl(160 55% 42%);
  --chart-3: hsl(30 85% 50%);
  --chart-4: hsl(45 90% 65%);
  --chart-5: hsl(15 80% 60%);

  --radius: 0.5rem;

  --sidebar-background: hsl(220 20% 98%);
  --sidebar-foreground: hsl(220 10% 25%);
  --sidebar-primary: hsl(220 30% 20%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(220 15% 93%);
  --sidebar-accent-foreground: hsl(220 10% 35%);
  --sidebar-border: hsl(220 12% 88%);
  --sidebar-ring: hsl(220 80% 60%);
  --sidebar: hsl(220 15% 98%);

  /* dashboard */
  --dashboard-1: #3469D1;
  --dashboard-2: #3469D1;
  --dashboard-3: #3469D1;
  --dashboard-4: #3469D1;
  --dashboard-5: #3469D1;
}

.dark {
  --background: hsl(220 10% 4%);
  --foreground: hsl(220 10% 98%);
  --card: #212529;
  --card-foreground: hsl(220 10% 96%);
  --popover: #212529;
  --popover-foreground: hsl(220 10% 97%);

  --primary: hsl(220 90% 60%);
  --primary-foreground: hsl(220 25% 10%);

  --secondary: hsl(220 5% 18%);
  --secondary-foreground: hsl(220 10% 95%);

  --muted: hsl(220 4% 22%);
  --muted-foreground: hsl(220 4% 65%);

  --accent: hsl(220 6% 26%);
  --accent-foreground: hsl(220 10% 98%);

  --destructive: hsl(0 70% 50%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(220 5% 18%);
  --input: hsl(220 6% 20%);
  --ring: hsl(220 10% 75%);

  --chart-1: hsl(220 70% 55%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  --sidebar-background: hsl(220 6% 8%);
  --sidebar-foreground: hsl(220 5% 95%);
  --sidebar-primary: hsl(220 100% 90%);
  --sidebar-primary-foreground: hsl(220 30% 10%);
  --sidebar-accent: hsl(220 5% 16%);
  --sidebar-accent-foreground: hsl(220 5% 95%);
  --sidebar-border: hsl(220 5% 18%);
  --sidebar-ring: hsl(220 80% 60%);
  --sidebar: hsl(220 5% 11%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
